*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}
title-small{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
}

input , textarea , select{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color: orange;
}
.button_control{
    display: flex;
    justify-content: end;
}
#button{
    padding: 5px 10px;
    background-color: red;
    margin-top: 5px;
    border-radius: 8px;
    border: transparent solid 2px;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#button:hover{
    cursor: pointer;
    background-color: #ccc;
    border: 2px solid red;
    transform: scale(1.1);
}
.Address_control{
    grid-column: span 2;
}
.Address_control textarea{
    width: 100%;
}
@media (max-width: 460px){
    .Address_control{
        grid-column: span 1;
    }
};